absl-py==1.4.0
apex==0.1
appdirs==1.4.4
astor==0.8.1
astroid==2.11.7
backcall==0.2.0
bd-metric==0.9.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.9.24
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.2.1
cmapy==0.6.6
-e git+https://github.com/xyy7/learning-RGBT-compress@e66a3a812e5e18a3ef35c533c33673d5a53fa82b#egg=compressai
ConfigArgParse==1.7
cycler==0.11.0
dahuffman==0.4.1
dataclasses==0.8
decorator==4.4.2
dill==0.3.4
docker-pycreds==0.4.0
einops==0.4.1
faiss==1.5.3
faiss-gpu==1.7.2
filelock==3.4.1
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.18
google-auth==2.16.0
google-auth-oauthlib==0.4.6
graphviz==0.19.1
grpcio==1.48.2
Gymnasium==0.26.3
gymnasium-notices==0.0.1
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.4
imageio @ file:///home/xyy/DVC/imageio-2.15.0-py3-none-any.whl
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipython==7.16.3
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.17.2
joblib==1.1.1
json5==0.9.14
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.7.1
Markdown==3.3.7
matplotlib==3.3.4
mccabe==0.7.0
memory-profiler==0.61.0
networkx==2.5.1
ninja==1.11.1
numpy==1.19.5
nvidia-ml-py==11.525.84
nvitop==1.0.0
oauthlib==3.2.2
opencv-python @ file:///home/xyy/DVC/opencv_python-4.5.4.60-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
packaging==21.3
pandas==1.1.5
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptflops==0.6.9
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.14.0
pylint==2.13.9
pyparsing==3.0.9
pypng==0.20220715.0
PySnooper==1.1.1
python-dateutil==2.8.2
pytorch-msssim==0.2.1
pytz==2023.3
PyWavelets==1.1.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rope==1.1.1
rsa==4.9
scikit-image==0.17.2
scikit-learn==0.24.2
scikit-video==1.1.11
scipy==1.2.1
sentry-sdk==1.24.0
setproctitle==1.2.3
six==1.16.0
smmap==5.0.0
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow-gpu==1.12.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2020.9.3
timm==0.6.12
tomli==1.2.3
torch @ file:///home/xyy/anaconda3/whl/torch-1.10.0%2Bcu111-cp36-cp36m-linux_x86_64.whl
torch-ac==1.4.0
torchaudio @ file:///home/xyy/anaconda3/whl/torchaudio-0.10.0%2Bcu111-cp36-cp36m-linux_x86_64.whl
torchinfo==1.5.4
TorchSnooper==0.8
torchvision @ file:///home/xyy/anaconda3/whl/torchvision-0.11.0%2Bcu111-cp36-cp36m-linux_x86_64.whl
torchviz==0.0.2
tqdm==4.64.1
traitlets==4.3.3
trimesh==3.23.1
typed-ast==1.5.4
typing_extensions==4.1.1
urllib3==1.26.13
wandb==0.15.4
wcwidth==0.2.6
Werkzeug==2.0.3
wrapt==1.15.0
yapf==0.32.0
yaspin==2.1.0
zipp==3.6.0
